body {
    font-family:Arial,sans-serif;
    background-color: black;
    color:#c13466;
}
h2 {
    font-size:large;
    font-weight:normal;
}
td a {
    display:block;
}
td a, th {
    padding: 10px;
    font-size:medium;
}
td {
    padding: 0;
}
h1 {
    font-size:xx-large;
    text-align:left;
}
h3 {
    font-size:small;
    text-align:left;
}
.inhalt {
    max-width:650px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
table {
    width:100%;
}
.name { width:60% }
.stoffe { width:15% }
.preis { width:25% }
.datum { text-align:right}

.mensagerichte td .imgdiv {
    display:inline;
    float:left; 
    overflow:hidden;
    width:100px;
    height:80px;
    margin:5px;
    /*margin-right: 10px; 
    margin-bottom:10px;*/
}
.mensagerichte td .imgdiv img { 
    width:200px;
    margin: -20px 0 0 -50px;
}

.teaser .imgdiv {
    overflow:hidden;
    margin-right: 10px; 
    margin-bottom:10px;
    float:left; 
    max-width:440px; 
    width:100%; 
}
.teaser .imgdiv img { 
    width:160%;
    margin:-5% 0 -10% -30%;
}
.teaser div { display: inline; }
.teaser .textdiv { 
    min-width:100px;
}

article { padding-bottom:10px; }
article.mensagerichte h2 { margin-bottom:5px }

/*
    .Table
    {
        display: table;
    }
    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
*/

section {
    padding-bottom: 100%
}
footer { padding-bottom:50% }
nav td a, nav th { 
    font-size:small;
    text-align:center;
}
nav tbody tr:hover {
  background: transparent;
}
nav tbody td:hover {
  background: #51152A;
}
h3 a:link, h3 a:visited, h3 a:active { color: white; }
h3 a:hover { color: inherit}
.mensatext { display:none}


/*@media (max-width: 700px), @media (max-device-width: 700px) {*/
/*@media only screen and (max-device-width: 500px) and (orientation: portrait), 
(min-device-width:500px) and (max-width: 500px) {*/
@media only screen and (max-width:500px) {
    th.stoffe, td.stoffe, .mensa {
        display: none;
    }
    .mensatext { display: inline }
    .inhalt {
        /*max-width: initial;*/
    }
    .teaser img { 
        float:none; 
        display:block;
        text-align:center;
    }
}
